.footer {
    background: #F8F8F8;
    padding: 3rem 2rem;
    color: white;
    width: 100%;
    max-width: 1300px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
}

.footer-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-line {
    width: 100%;
    border: none;
    border-top: 1px solid #848484;
    margin: 20px 0;
}

.social-link {
    width: 20px;
    height: 20px;
    background: #000203;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer-copy {
    color: #848484;
    font-size: 0.9rem;
}
